<!doctype html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
</head>
<body>
<form method="post">
    <h1>Nova Pessoa</h1>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Salvar</button>
    <a href="{% url 'list' %}">Voltar</a>
</form>

</body>
</html>